.git
.github
.next
node_modules
npm-debug.log*
coverage
dist
out
.DS_Store
.env
.env.local
.env.*.local
infra
terraform.legacy
docs
public/uploads
tsconfig.tsbuildinfo
.vercel
.envrc
*.tfstate
*.tfstate.*
*.log
